.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
    }

    body {
        font-family: "Lato", sans-serif;
    }
    
    
    
    .main-head{
        height: 150px;
        background: #FFF;
       
    }
    
    .sidenav {
        height: 100%;
        background-color: #000;
        overflow-x: hidden;
        padding-top: 20px;
    }
    
    
    .main {
        padding: 0px 10px;
    }
    
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
    }
    
    @media screen and (max-width: 450px) {
        .login-form{
            margin-top: 10%;
        }
    
        .register-form{
            margin-top: 10%;
        }
    }
    
    @media screen and (min-width: 768px){
        .main{
            margin-left: 40%; 
        }
    
        .sidenav{
            width: 40%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
        }
    
        .login-form{
            margin-top: 80%;
        }
    
        .register-form{
            margin-top: 20%;
        }
    }
    
    
    .login-main-text{
        margin-top: 20%;
        padding: 60px;
        color: #fff;
    }
    
    .login-main-text h2{
        font-weight: 300;
    }
    
    .btn-black{
        background-color: #000 !important;
        color: #fff;
    }