<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Submitted</title>
</head>
<body onload="redirect()">
    <center>
        <h2>Your Question has been submitted.</h2>
        <br>
        <h3 id="result" style="color:red;"></h3>
    </center>
<script>
    function redirect () {
         setTimeout(myURL, 2000);
         var result = document.getElementById("result");
         result.innerHTML = "<b> The page will redirect after delay of 2 seconds";
      }
    function myURL() {
        window.location.href = '/blog.html';
    }
</script>
</body>
</html>
